body {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: larger;
    line-height: 20px;
    

}

p {
    font-size: larger;
}

table {
    width: fit-content;
    height: fit-content;

}

td {
    border: 1px solid;
    border-color: red;
    caret-color: aquamarine;
    width: fit-content;

}

div {
    width: 1352px;
    height: 100px;
    background-color: black;
    color: azure;
    padding-bottom: 20px;

}

button {
    background-color: rgb(56, 76, 189);
    font-size: 20px;
    color: white;
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: min-content;
}

input {
    width: 650px;
    height:fit-content;
    padding: 10px;
    
}


h6 {
    color: darkgray;
}

a {
    color: black;
}
h2{
    color: rgb(2, 99, 99);
}